{% extends 'layout/layout.html.twig' %}

{% block main %}
  <!-- Breadcrumb-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Principal</li>
    <li class="breadcrumb-item active">
      <a href="#">Datos del componente</a>

    </li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
      <div class="btn-group" role="group" aria-label="Button group">
        <a class="btn" href="#">
          <i class="icon-speech"></i>
        </a>
        <a class="btn" href="./">
          <i class="icon-graph"></i>  Dashboard</a>
        <a class="btn" href="#">
          <i class="icon-settings"></i>  Settings</a>
      </div>
    </li>
  </ol>
  <div class="container-fluid">
    <div class="animated fadeIn"></div>
  </div>

  <div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        {% for message in app.session.flashBag.get('success') %}
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        {% endfor %}

        <div class="card">
          <div class="card-header">
            <strong>Datos del periférico</strong></div>
          {{ form_start(form) }}
          <div class="card-body">
            <div class="form-group row">

              <div class="col-md-3">
                {{ form_row(form.marca) }}
              </div>

              <div class="col-md-3">
                {{ form_row(form.modelo) }}
              </div>
              <div class="col-md-3">
                {{ form_row(form.numInventario) }}
              </div>

              <div class="col-md-3">
                {{ form_row(form.serie) }}
              </div>


                <div class="col-md-3">
                  {{ form_row(form.tipo) }}
                </div>


                <div class="col-md-3">
                  {{ form_row(form.tonerCartucho) }}
                </div>


                <div class="col-md-3">
                  {{ form_row(form.tipoTonerCartucho) }}
                </div>


              <div class="col-md-3">
                {{ form_row(form.inventario) }}
              </div>


                <div class="col float-lg-none">
                  <img class="float-lg-right" src="{{ asset('img/iconos/impresora.webp') }}"></div>

            </div>
          </div>
          <div class="card-footer">


            {{ form_widget(form.Guardar) }}
            <button class="btn btn-sm btn-danger" type="reset"
                    onclick="document.getElementById('reset').value = 1; forms[0].submit()">
              <i class="fa fa-ban"></i> Cancelar
            </button>
            {{ form_end(form) }}

          </div>


          </div>





        </div>
        <!-- /.col-->
      </div>
    </div>
  </div>

{% endblock %}