{% if editar == 'no' %}
<div id="comp" class="tab-content componente" data-prototype="{{ form_widget(form.componente.vars.prototype)|e }}">
    {% for ent in form.componente %}
    {% set indice = loop.index-1 %}
    <div class="well text-info form-horizontal componente">
        <div id="app_bundleinventario_fom_type_componente_{{ indice }}" class="container-fluid">
            <div class="form-group row">
                <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}
                </div>
                <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                </div>
                <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                </div>
                <div id="columna4_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.watts) }}{{ form_label(ent.watts) }}{{ form_widget(ent.watts) }}
                </div>
            </div>
            <div class="form-group row">
                <div id="columna5_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.sata) }}{{ form_label(ent.sata) }}{{ form_widget(ent.sata) }}
                </div>
                <div id="columna6_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.capacidad) }}{{ form_label(ent.capacidad) }}{{ form_widget(ent.capacidad) }}
                </div>
                <div id="columna7_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.velocidad) }}{{ form_label(ent.velocidad) }}{{ form_widget(ent.velocidad) }}
                </div>
                <div id="columna8_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.lga) }}{{ form_label(ent.lga) }}{{ form_widget(ent.lga) }}
                </div>
            </div>
            <div class="form-group row">
                <div id="columna9_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.ram) }}{{ form_label(ent.ram) }}{{ form_widget(ent.ram) }}
                </div>

                <div id="columna11_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.optico) }}{{ form_label(ent.optico) }}{{ form_widget(ent.optico) }}
                </div>
                <div id="columna12_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.conector) }}{{ form_label(ent.conector) }}{{ form_widget(ent.conector) }}
                </div>
                <div id="columna13_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.tipo) }}{{ form_label(ent.tipo) }}{{ form_widget(ent.tipo) }}
                </div>
                <div id="columna15_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.tipoComponente) }}{{ form_label(ent.tipoComponente) }}{{ form_widget(ent.tipoComponente) }}
                </div>
                {#                    <div id="columna14_{{ indice }}" class="col-md-3" style="padding-left: 5%">#}
                {#                        {{ form_errors(ent.estacion2) }}{{ form_label(ent.estacion2) }}{{ form_widget(ent.estacion2) }}#}
                {#                        {{ form_widget(ent.estacion2, { 'attr':{'hidden' : 'true'}}) }}#}
                {#                </div>#}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div id="comp" class="tab-content componente" data-prototype="{{ form_widget(form.componente.vars.prototype)|e }} "
         data-index="{{ form.componente|length }}">
        {#{{ dump(solicitudForm.material) }}#}

        <div class="card">
            <div class="card-header">Componentes<small> en estacion</small></div>
            <div class="card-body">
                <div class="row bd-example2">
                    <div class="col-4">
                        <div class="list-group" id="comp-example">
                            {% for ent in form.componente %}
                                {% set indice = loop.index-1 %}
                                {% if ent.vars.value.tipoComponente =='bocina' %}
                                    <a class="list-group-item list-group-item-action" href="#comp-item-1">Bocina</a>
                                {% elseif ent.vars.value.tipoComponente =='fuente' %}
                                    <a class="list-group-item list-group-item-action" href="#comp-item-2">Fuente</a>
                                {% elseif ent.vars.value.tipoComponente =='hdd' %}
                                    <a class="list-group-item list-group-item-action active" href="#comp-item-3">Hdd</a>
                                {% elseif ent.vars.value.tipoComponente =='lector' %}
                                    <a class="list-group-item list-group-item-action" href="#comp-item-4">Lector</a>
                                {% elseif ent.vars.value.tipoComponente =='microprocesador' %}
                                    <a class="list-group-item list-group-item-action" href="#comp-item-5">Microprocesador</a>
                                {% elseif ent.vars.value.tipoComponente =='motherboard' %}
                                    <a class="list-group-item list-group-item-action" href="#comp-item-6">Motherboard</a>
                                {% elseif ent.vars.value.tipoComponente =='teclado' %}
                                    <a class="list-group-item list-group-item-action" href="#comp-item-7">Teclado</a>
                                {% elseif ent.vars.value.tipoComponente =='mouse' %}
                                    <a class="list-group-item list-group-item-action" href="#comp-item-8">Mouse</a>
                                {% elseif ent.vars.value.tipoComponente =='tarjeta_video' %}
                                    <a class="list-group-item list-group-item-action" href="#comp-item-10">Tarjeta de video</a>
                                {% elseif ent.vars.value.tipoComponente =='ram' %}
                                    <a class="list-group-item list-group-item-action" href="#comp-item-9">Ram</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-8">
                        <div id="spy-example2" data-spy="scroll" data-target="#comp-example" data-offset="0"
                             style="height: 200px; overflow: auto">
                            {% for ent in form.componente %}
                            {% set indice = loop.index-1 %}
                            <div class="well text-info form-horizontal componente" id="componente{{ indice }}">
                                <div id="app_bundlecomponentes_form_type_{{ indice }}" class="container-fluid">
                                    <div class="form-group row">
                                        {{ form_widget(ent.estacion2, { 'attr':{'hidden' : 'true'}}) }}
                                        {% if ent.vars.value.tipoComponente  =='bocina' %}
                                        <h4 id="comp-item-1">Bocina</h4><br>
                                        <div class="form-group row" style="padding-left: 5%;padding-top: 3%">
                                            Numero de serie: {{ ent.vars.value.serie}}
                                            {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                                            {{ form_widget(ent.serie, { 'attr':{'hidden' : 'true'}}) }}
                                            <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}
                                            </div>
                                            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                                            </div>
                                            <div id="delete_{{ indice }}" style="float: right">
                                                <a style="text-decoration: none;color: #ffffff; float: right"
                                                   class="btn btn-danger btn-small"
                                                   onclick="eliminarForm({{ indice }})"><i
                                                            class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                            </div>
                                        </div>
                                        {% elseif ent.vars.value.tipoComponente =='fuente' %}
                                        <h4 id="comp-item-2">Fuente</h4><br>
                                        <div class="form-group row" style="padding-left: 5%;padding-top: 3%">
                                            Numero de serie: {{ ent.vars.value.serie }}
                                            {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                                            {{ form_widget(ent.serie, { 'attr':{'hidden' : 'true'}}) }}
                                            <div id="columna3_{{ indice }}" class="col-md-3"
                                                 style="padding-left: 5%;">
                                                {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                                            </div>
                                            <div id="columna4_{{ indice }}" class="col-md-3"
                                                 style="padding-left: 5%;">
                                                {{ form_errors(ent.watts) }}{{ form_label(ent.watts) }}{{ form_widget(ent.watts) }}
                                            </div>
                                            <div id="columna5_{{ indice }}" class="col-md-3"
                                                 style="padding-left: 5%;">
                                                {{ form_errors(ent.sata) }}{{ form_label(ent.sata) }}{{ form_widget(ent.sata) }}
                                            </div>
                                            <div id="delete_{{ indice }}" style="float: right">
                                                <a style="text-decoration: none;color: #ffffff; float: right"
                                                   class="btn btn-danger btn-small"
                                                   onclick="eliminarForm({{ indice }})"><i
                                                            class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                            </div>
                                        </div>
                                        {% elseif ent.vars.value.tipoComponente =='hdd' %}
                                        <h4 id="comp-item-3">Hdd</h4><br>
                                        <div class="form-group row" style="padding-left: 5%;padding-top: 3%">
                                            Numero de serie: {{ ent.vars.value.serie }}
                                            {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                                            {{ form_widget(ent.serie, { 'attr':{'hidden' : 'true'}}) }}
                                            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                                            </div>
                                            <div id="columna5_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.sata) }}{{ form_label(ent.sata) }}{{ form_widget(ent.sata) }}
                                            </div>
                                            <div id="columna6_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.capacidad) }}{{ form_label(ent.capacidad) }}{{ form_widget(ent.capacidad) }}
                                            </div>
                                            <div id="delete_{{ indice }}" style="float: right">
                                                <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                                                   onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                            </div>
                                        </div>
                                        {% elseif ent.vars.value.tipoComponente =='lector' %}
                                        <h4 id="comp-item-4">Lector</h4><br>
                                        <div class="form-group row" style="padding-left: 5%;padding-top: 3%">
                                            Numero de serie: {{ ent.vars.value.serie }}
                                            {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                                            {{ form_widget(ent.serie, { 'attr':{'hidden' : 'true'}}) }}
                                            <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}
                                            </div>
                                            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                                            </div>
                                            <div id="columna13_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.tipo) }}{{ form_label(ent.tipo) }}{{ form_widget(ent.tipo) }}
                                            </div>
                                            <div id="delete_{{ indice }}" style="float: right">
                                                <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                                                   onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                            </div>
                                        </div>
                                        {% elseif ent.vars.value.tipoComponente =='microprocesador' %}
                                        <h4 id="comp-item-5">Microprocesador</h4><br>
                                        <div class="form-group row" style="padding-left: 5%;padding-top: 3%">
                                            Numero de serie: {{ ent.vars.value.serie }}
                                            {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                                            {{ form_widget(ent.serie, { 'attr':{'hidden' : 'true'}}) }}
                                            {{ form_widget(ent.modelo, { 'attr':{'hidden' : 'true'}}) }}

                                            <div id="columna13_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.tipo) }}{{ form_label(ent.tipo) }}{{ form_widget(ent.tipo) }}
                                            </div>
                                            <div id="columna7_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.velocidad) }}{{ form_label(ent.velocidad) }}{{ form_widget(ent.velocidad) }}
                                            </div>
                                            <div id="columna8_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.lga) }}{{ form_label(ent.lga) }}{{ form_widget(ent.lga) }}
                                            </div>
                                            <div id="delete_{{ indice }}" style="float: right">
                                                <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                                                   onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                            </div>
                                        </div>
                                        {% elseif ent.vars.value.tipoComponente =='motherboard' %}
                                        <h4 id="comp-item-6">Motherboard</h4><br>
                                        <div class="form-group row" style="padding-left: 5%;padding-top: 3%">
                                            Numero de serie: {{ ent.vars.value.serie }}
                                            {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                                            {{ form_widget(ent.serie, { 'attr':{'hidden' : 'true'}}) }}
                                            <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}
                                            </div>
                                            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                                            </div>
                                            <div id="columna8_{{ indice }}" class="col-md-3" style="padding-left: 5%;padding-top: 3%;">
                                                {{ form_errors(ent.lga) }}{{ form_label(ent.lga) }}{{ form_widget(ent.lga) }}
                                            </div>
                                            <div id="columna9_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.ram) }}{{ form_label(ent.ram) }}{{ form_widget(ent.ram) }}
                                            </div>
                                            <div id="delete_{{ indice }}" style="float: right">
                                                <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                                                   onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                            </div>
                                        </div>
                                        {% elseif ent.vars.value.tipoComponente =='teclado' %}
                                        <h4 id="comp-item-7">Teclado</h4><br>
                                        <div class="form-group row" style="padding-left: 5%;padding-top: 3%">
                                            Numero de serie: {{ ent.vars.value.serie }}
                                            {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                                            {{ form_widget(ent.serie, { 'attr':{'hidden' : 'true'}}) }}

                                            <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}
                                            </div>
                                            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                                            </div>
                                            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                                            </div>
                                            <div id="columna11_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.optico) }}{{ form_label(ent.optico) }}{{ form_widget(ent.optico) }}
                                            </div>
                                            <div id="columna12_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                                {{ form_errors(ent.conector) }}{{ form_label(ent.conector) }}{{ form_widget(ent.conector) }}
                                            </div>
                                            <div id="delete_{{ indice }}" style="float: right">
                                                <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                                                   onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                            </div>
                                        </div>
                                        {% elseif ent.vars.value.tipoComponente =='mouse' %}
                                        <h4 id="comp-item-8">Mouse</h4><br>
                                        <div class="form-group row" style="padding-left: 5%;padding-top: 3%">
                                            Numero de serie: {{ ent.vars.value.serie }}
                                            {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                                            {{ form_widget(ent.serie, { 'attr':{'hidden' : 'true'}}) }}
                                        </div>
                                        <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                            {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}
                                        </div>
                                        <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                            {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                                        </div>
                                        <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                            {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                                        </div>
                                        <div id="columna11_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                            {{ form_errors(ent.optico) }}{{ form_label(ent.optico) }}{{ form_widget(ent.optico) }}
                                        </div>
                                        <div id="columna12_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                            {{ form_errors(ent.conector) }}{{ form_label(ent.conector) }}{{ form_widget(ent.conector) }}
                                        </div>
                                        <div id="delete_{{ indice }}" style="float: right">
                                            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                                               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                        </div>

                                        {% elseif ent.vars.value.tipoComponente =='ram' %}
                                        <h4 id="comp-item-9">Ram</h4><br>
                                        <div class="form-group row" style="padding-left: 5%;padding-top: 3%">
                                            Numero de serie: {{ ent.vars.value.serie }}
                                            {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                                            {{ form_widget(ent.serie, { 'attr':{'hidden' : 'true'}}) }}
                                        </div>
                                        <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                            {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                                        </div>
                                        <div id="columna6_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                            {{ form_errors(ent.capacidad) }}{{ form_label(ent.capacidad) }}{{ form_widget(ent.capacidad) }}
                                        </div>
                                        <div id="delete_{{ indice }}" style="float: right">
                                            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                                               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                        </div>
                                        {% elseif ent.vars.value.tipoComponente =='tarjeta de video' %}
                                        <h4 id="comp-item-10">Tarjeta de Video</h4><br>
                                        <div class="form-group row" style="padding-left: 5%;padding-top: 3%">
                                            Numero de serie: {{ ent.vars.value.serie }}
                                            {{ form_widget(ent.tipoComponente, { 'attr':{'display' : 'none'}}) }}
                                            {{ form_widget(ent.serie, { 'attr':{'hidden' : 'true'}}) }}
                                        </div>
                                        <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                            {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                                        </div>
                                        <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                            {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}
                                        </div>
                                        <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                                            {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                                        </div>
                                        <div id="delete_{{ indice }}" style="float: right">
                                            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                                               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                        </div>

                                    </div>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <input style="display: none;" id="contador" cant= {{ form.componente | length }}>
                        {{ form_errors(ent) }}
                        {{ form_end(ent, {'render_rest': false}) }}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
{% endif %}

{% block javascripts %}
    <script type="text/javascript">
        function eliminarForm(posFrom) {
            var div = document.getElementById("componente" + posFrom);
            div.parentNode.removeChild(div);
        }
    </script>
{% endblock %}