{% extends 'layout/layout.html.twig' %}

{% block main %}
    <fieldset style="margin-left: 5px; margin-right: 5px;">
        <legend style="text-align: center; font-size: 16px; font-weight: bold;">Adicionar Usuario</legend>
    </fieldset>

  <div class="container-fluid">
      {{ form_start(form, {'attr':{ 'class': 'validate', 'novalidate' : 'novalidate'}}) }}
        {% if add == 'sist' %}
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="usuario[username]" class="control-label">Usuarios del Sistema</label>
                        <div class="control">
                            <select id="usuario_usuarios" class="custom-select" name="usuarios[]" multiple="multiple" style="width: 400px">
                              {% for usuario in entity if usuario.username not in usuarios %}
                                  <option value={{ usuario.id }}>{{ usuario.username }}</option>
                              {%endfor%}
                            </select>
                          {{ form_widget(form.rol) }}
                        </div>
                    </div>
                </div>
                {#<div class="col-md-6">#}
                    {#<div class="form-group">#}
                        {#<div class="error text-exception">{{ form_errors(form.password) }}</div>#}
                        {#<label for="usuario[password]" class="control-label">Contraseña*</label>#}
                        {#<div class="control" style="width: 200px">#}
                          {#{{ form_widget(form.password) }}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            </div>
        {% else %}
            <div class="form-group row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="error text-exception">{{ form_errors(form.username) }}</div>
                        <label for="usuario[username]" class="control-label">Usuarios del Sistema</label>
                        <div class="select2-dropdown--above" style="width: 200px">
                          {{ form_widget(form.username) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <div class="error text-exception">{{ form_errors(form.estado) }}</div>
                        <label for="usuario[estado]" class="control-label">Estado*</label>
                        <div class="control" style="width: 200px">
                          {{ form_widget(form.estado) }}
                        </div>
                    </div>
                </div>
                {#<div class="col-md-4">#}
                    {#<div class="form-group">#}
                        {#<div class="error text-exception">{{ form_errors(form.password) }}</div>#}
                        {#<label for="usuario[password]" class="control-label">Contraseña*</label>#}
                        {#<div class="control" style="width: 200px">#}
                          {#{{ form_widget(form.password) }}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="error text-exception">{{ form_errors(form.rol) }}</div>
                        <label for="usuario[grupos]" class="control-label">Rol</label>

                          {{ form_widget(form.rol) }}

                    </div>
                </div>
                {#<div class="col-md-6">#}
                    {#<div class="form-group">#}
                        {#<div class="error text-exception">{{ form_errors(form.roles) }}</div>#}
                        {#<label for="usuario[roles]" class="control-label">Rol(es)</label>#}
                        {#<div class="control" style="width: 400px">#}
                          {#{{ form_widget(form.roles) }}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            </div>
        {% endif %}
        <div style="display: none">
          {{ form_widget(form) }}
        </div>
        <div class="modal-footer">
            <input id="insert" class="btn btn-primary" type="submit" value="Adicionar" />
            <a id="back" class="btn btn-danger" type="button" href="{{ path('administracion_usuario_index') }}">Regresar</a>
        </div>

      {{ form_end(form) }}
    </div>
  {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/select2entity.js') }}"></script>
  {% endblock %}
{% endblock %}
