{% extends 'layout/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <!-- CoreUI CSS -->
    {#<script src="{{ asset('build/js/jquery-3.3.1.js') }}"></script>#}
    <script src="{{ asset('build/js/pace.min.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="{{ asset('build/js/jquery.min.js') }}"></script>
    {#<!-- CoreUI CSS -->#}
    {#<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">#}
    {#<meta charset="utf-8">#}
    {#<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
    {#<meta http-equiv="x-ua-compatible" content="ie=edge">#}
    {#<!-- Font Awesome -->#}
    {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">#}
    {#<link rel="stylesheet" href="{{ asset('build/css/all.css') }}">#}
    {#<!-- Bootstrap core CSS -->#}
    {#<!-- Select2 -->#}
    <link rel="stylesheet" href="{{ asset('build/css/select2.min.css') }}">


{% endblock %}
{% block main %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Principal</li>
        <li class="breadcrumb-item active">
            <a>Cambio de contraseña</a>
        </li>
    </ol>
    <fieldset style="margin-left: 5px; margin-right: 5px;">
        <legend style="text-align: center; font-size: 16px; font-weight: bold;">Cambiar Contraseña Usuario</legend>
    </fieldset>

    <div class="container-fluid">
        {{ form_start(edit_form, {'attr':{ 'class': 'validate', 'novalidate' : 'novalidate'}}) }}

        <div class="form-group row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="error text-exception">{{ form_errors(edit_form.username) }}</div>
                    <label for="usuario[username]" class="control-label">Usuarios del Sistema</label>
                    <div class="control" style="width: 200px">
                        {{ form_widget(edit_form.username) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {#<div class="error text-exception">{{ form_errors(edit_form.password) }}</div>#}
                    <label for="usuario[password]" class="control-label">Contraseña*</label>
                    <div class="control" style="width: 200px">
                        {#{{ form_widget(edit_form.password) }}#}
                        <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Password">
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none">{{ form_widget(edit_form) }}</div>
        <div class="modal-footer">
            <input class="btn btn-info editar" type="submit" value="Editar" />
            <a id="back" class="btn btn-info" type="button" href="{{ path('administracion_usuario_index') }}">Regresar</a>
        </div>

        {{ form_end(edit_form) }}
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('build/js/admin/admin.js') }}" type="text/javascript"></script>
    {% endblock %}
{% endblock %}
