{% extends 'layout/layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
    <!-- CoreUI CSS -->
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('build/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/select2.min.css') }}">
    <!-- Your custom styles (optional) -->
    <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
    <script href="{{ asset('build/js/app.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{{ asset('build/js/popper.min.js') }}"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

{% endblock %}
{% block main %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Principal</li>
        <li class="breadcrumb-item active">
            <a>Detalles de usuario</a>
        </li>
    </ol>
    <fieldset style="margin-left: 5px; margin-right: 5px;">
        <legend style="text-align: center; font-size: 16px; font-weight: bold;">Detalles del Usuario</legend>
    </fieldset>

    <div class="container-fluid">
        {% if entity | length > 0 %}
            <div class="form-group row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Nombre:</dt>
                        <dd>{{ entity[0].first_name }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Apellidos:</dt>
                        <dd>{{ entity[0].last_name }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>No. de Identidad:</dt>
                        <dd>{{ entity[0].personal_ID }}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Telefono:</dt>
                        <dd>{{ entity[0].telephone }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Departamento:</dt>
                        <dd>{{ entity[0].dep }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Area:</dt>
                        <dd>{{ entity[0].name }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Grupos:</dt>
                        {% for g in app.user.grupos %}
                        <dd> {{ g.nombre }}</dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        {% else %}
            <dl class="dl-horizontal">
                <dt>Usuario:</dt>
                <dd>{{ user.username }}</dd>
            </dl>
        {% endif %}

        <div class="modal-footer">
            <ul class="nav nav-pills">
                <a class="btn btn-info editar" type="button" href="{{ path('administracion_usuario_edit', { 'id': user.id }) }}">Editar</a>
                <a id="back" class="btn btn-info" type="button" href="{{ path('administracion_usuario_index') }}">Regresar</a>

                <li role="presentation" style="float: right; margin-left: 9px">
                  {{ form_start(delete_form, {'attr':{ 'class': 'validate', 'novalidate' : 'novalidate'}}) }}
                    <input id="delete" class="btn btn-danger" type="submit" value="Eliminar">
                  {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
