{% extends 'layout/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <!-- CoreUI CSS -->
    {#<script src="{{ asset('build/js/jquery-3.3.1.js') }}"></script>#}
    {#<script src="{{ asset('build/js/pace.min.js') }}"></script>#}

    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="{{ asset('build/js/jquery.min.js') }}"></script>
    {#<!-- CoreUI CSS -->#}
    {#<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">#}
    {#<meta charset="utf-8">#}
    {#<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
    {#<meta http-equiv="x-ua-compatible" content="ie=edge">#}
    {#<!-- Font Awesome -->#}
    {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">#}
    {#<link rel="stylesheet" href="{{ asset('build/css/all.css') }}">#}
    {#<!-- Bootstrap core CSS -->#}
    {#<!-- Select2 -->#}
    <link rel="stylesheet" href="{{ asset('build/css/select2.min.css') }}">


{% endblock %}
{% block main %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Reportes</li>
        <li class="breadcrumb-item active">
            Equipos pendientes a Taller
        </li>
        <!-- Breadcrumb Menu-->
    </ol>
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Total : </strong>
            {% if pagination is defined %}
                {{ pagination.getTotalItemCount }}
            {% endif %}
            <div class="dropdown float-sm-right">
                <a href="{{ path('imprimir_equipos_pendientes_taller',{'lista':lista_imprimir}) }}"
                   class="btn btn-success ">
                    Imprimir
                </a>
            </div>
            <br>
            <div class="float-left">
                <label>Cantidad de resultados por pagina</label> <select name="maxItemPerPage" id="maxItemPerPage"
                                                                         class="custom-select col-3">
                    <option id="Seleccione" value="1">Seleccione</option>
                    <option id="5">5</option>
                    <option id="10">10</option>
                    <option id="20">20</option>
                    <option id="30">30</option>
                </select>
            </div>
        </div>
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        {% for message in app.session.flashBag.get('alert') %}
                            <div class="alert alert-warning" role="alert">
                                {{ message }}
                            </div>
                            <div class="alert alert-warning" role="alerta">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <form class="form-inline float-right" action="{{ path('filtra_equipo_pendientesTaller') }}"
                      method="post">
                    <div class="input-group ">
                        <input class="form-control" id="numI" type="text" name="numI"
                               placeholder="Numero de inventario">
                        <span class="input-group-prepend">
                              <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i> </button>
                            </span>
                    </div>
                </form>
            </div>
            <br> <br>

            <center><h5>Equipos pendientes a taller</h5></center>
            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                <thead>
                <tr>
                    <th>Dpto.</th>
                    <th>Modelo</th>
                    <th>Equipo</th>
                    <th>No.Inventario</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                {% if pagination is defined %}
                    {% for datos in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td width="10%">{{ datos.departamento }}</td>
                            <td width="50%">{{ datos.modelo }}</td>
                            <td width="10%">
                                {% if datos.tipoEquipo =='backup' or datos.tipoEquipo=='Backup' %}
                                    Backup
                                {% endif %}
                                {% if datos.tipoEquipo =='estabilizador' or datos.tipoEquipo=='Estabilizador' %}
                                    Estabilizador
                                {% endif %}
                                {% if datos.tipoEquipo =='cpuchasis' or datos.tipoEquipo=='CPU-Chasis' %}
                                    Cpu Chasis
                                {% endif %}
                                {% if datos.tipoEquipo =='impresora' or datos.tipoEquipo =='Impresora' %}
                                    Impresora
                                {% endif %}
                                {% if datos.tipoEquipo =='monitor' or datos.tipoEquipo=='Monitor' %}
                                    Monitor
                                {% endif %}
                                {% if datos.tipoEquipo =='Bocina' or datos.tipoEquipo=='bocinas' %}
                                    Bocina
                                {% endif %}
                                {% if datos.tipoEquipo =='Laptop' or datos.tipoEquipo=='laptop' %}
                                    Laptop
                                {% endif %}
                                {% if datos.tipoEquipo =='Proyector' or datos.tipoEquipo=='proyector' %}
                                    Proyector
                                {% endif %}
                                {% if datos.tipoEquipo =='Scanner' or datos.tipoEquipo=='scanner' %}
                                    Scanner
                                {% endif %}
                                {% if datos.tipoEquipo =='servidor' or datos.tipoEquipo=='Servidor' %}
                                    Servidor
                                {% endif %}
                                {% if datos.tipoEquipo =='equipoRed' or datos.tipoEquipo=='equipored' %}
                                    Equipo de red
                                {% endif %}
                            </td>
                            <td width="5%">
                                {{ datos.numInventario }}
                            </td>
                            <td width="5%">
                                <a href="#activar_estacion{{ datos.id }}{{ datos.tipoEquipo }}" data-toggle="modal"
                                   data-whatever="{{ datos.id }}{{ datos.tipoEquipo }}">
                                    <i class="nav-icon icon-calendar"
                                       data-toggle="tooltip" data-placement="bottom"
                                       title="Enviar a taller"></i></a>


                                <div class="modal fade" id="activar_estacion{{ datos.id }}{{ datos.tipoEquipo }}"
                                     tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"> Cambiar fecha de salida a
                                                    taller</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h6>Seleccione la fecha en que el equipo se envia a taller</h6><br>
                                                {#<form>#}
                                                    <div class="col-sm4" style="alignment: center">
                                                        <input type="date" name="fechaSalida" id="fechaSl">
                                                        <input type="number" name="idEquipo" id="idEquipo" value="{{ datos.id }}" hidden="hidden">
                                                    </div>

                                                    {#{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
                                                    {#{{ form_widget(form.fechaSalida) }}#}
                                                    {#{{ form_errors(form.fechaSalida) }}#}
                                                    {#{{ form_widget(form.idPeriferico ,{'attr': {'value': lista.id,'hidden':true}} ) }}#}
                                                    {#{{ form_widget(form.tipoEquipo,{'attr': {'value': lista.tipoPeriferico,'hidden':true}} ) }}#}

                                            </div>

                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button id="salvar" class="btn-sm btn-success" >
                                                    <i class="nav-icon icon-calendar"

                                                    ></i> Guardar
                                                </button>
                                                {#<a href="{{ path('cambiarfechaTaller' )}}" class="btn btn-primary">Aceptar</a>#}
                                                {#</div>#}
                                                {#</form>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>
                            {{ lista.departamento }}
                        </td>
                        <td>{{ lista.modelo }}</td>
                        <td>
                            {% if lista.tipoEquipo =='backup' or lista.tipoEquipo=='Backup' %}
                                Backup
                            {% endif %}
                            {% if lista.tipoEquipo =='estabilizador' or lista.tipoEquipo=='Estabilizador' %}
                                Estabilizador
                            {% endif %}
                            {% if lista.tipoEquipo =='cpuchasis' or lista.tipoEquipo=='CPU-Chasis' %}
                                Cpu Chasis
                            {% endif %}
                            {% if lista.tipoEquipo =='impresora' or lista.tipoEquipo =='Impresora' %}
                                Impresora
                            {% endif %}
                            {% if lista.tipoEquipo =='monitor' or lista.tipoEquipo=='Monitor' %}
                                Monitor
                            {% endif %}
                            {% if lista.tipoEquipo =='Bocina' or lista.tipoEquipo=='bocinas' %}
                                Bocina
                            {% endif %}
                            {% if lista.tipoEquipo =='Laptop' or lista.tipoEquipo=='laptop' %}
                                Laptop
                            {% endif %}
                            {% if lista.tipoEquipo =='Proyector' or lista.tipoEquipo=='proyector' %}
                                Proyector
                            {% endif %}
                            {% if lista.tipoEquipo =='Scanner' or lista.tipoEquipo=='scanner' %}
                                Scanner
                            {% endif %}
                        </td>
                        <td>

                            {{ lista.numInventario }}
                        </td>
                        <td>
                            {#aqui va la fecha de salida#}
                            {#{% if lista.fechaSalida =='0000-00-00' or lista.fechaSalida is null %}#}
                            <a href="#activar_estacion{{ lista.id }}{{ lista.tipoEquipo }}" data-toggle="modal"
                               data-whatever="{{ lista.id }}{{ lista.tipoEquipo }}">
                                <i class="nav-icon icon-calendar"
                                   data-toggle="tooltip" data-placement="bottom"
                                   title="Enviar a taller"></i></a>


                            <div class="modal fade" id="activar_estacion{{ lista.id }}{{ lista.tipoEquipo }}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true" id="cartel">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"> Cambiar fecha de salida a
                                                taller</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Seleccione la fecha en que el equipo se envia a taller</h6><br>
                                            <form>
                                                <div class="col-sm4" style="alignment: center">
                                                    <input type="date" name="fechaSalida">
                                                </div>
                                                <input type="number" name="idEquipo" id="idEquipo" value="{{ lista.id }}" hidden="hidden">
                                                {#{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
                                                {#{{ form_widget(form.fechaSalida) }}#}
                                                {#{{ form_errors(form.fechaSalida) }}#}
                                                {#{{ form_widget(form.idPeriferico ,{'attr': {'value': lista.id,'hidden':true}} ) }}#}
                                                {#{{ form_widget(form.tipoEquipo,{'attr': {'value': lista.tipoPeriferico,'hidden':true}} ) }}#}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button  id="salvar" class="btn-sm btn-success" >
                                                <i class="nav-icon icon-calendar" data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   ></i> Guardar
                                            </button>
                                            {#<a href="{{ path('cambiarfechaTaller') }}" class="btn btn-primary">Aceptar</a>#}
                                            {#</div>#}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                {#{{ form_errors(form.fechaSalida) }}#}
                                {#{{ form_end(form) }}#}
                                {#{% else %}#}
                                {#{{ lista.fechaSalida|date('d/m/Y') }}#}

                                {#{% endif %}#}
                        </td>
                        {#<td>#}
                        {#{% if lista.departamento !=null %}#}
                        {#<div class="col-6 col-lg-3">#}
                        {#<a href="{{ path('equipo_traslado',{'id_inve':lista.estacion.id,'id_equi':lista.id,'name':lista.tipoEquipo,'equipo':lista.tipoEquipo,'dpto':lista.estacion.centroCosto}) }}">#}
                        {#<i class="nav-icon icon-wrench"></i>#}
                        {#</a>#}
                        {#</div>#}
                        {#</div>#}
                        {#{% else %}#}
                        {#<div class="col-6 col-lg-3">#}
                        {#<div class="card">#}
                        {#<a#}
                        {#href="{{ path('equipo_trasladoSI',{'id_equi':lista.id,'name':lista.tipoEquipo,'equipo':lista.tipoEquipo}) }}">#}
                        {#<i class="nav-icon icon-wrench"></i>#}
                        {#</a>#}
                        {#</div>#}
                        {#</div>#}
                        {#{% endif %}#}
                        {#</td>#}
                    </tr>
                {% endif %}
            </table>
        </div>
        {% if pagination is defined %}
            <div class="card-footer">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        {% endif %}

    </div>
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('build/js/popper.js') }}"></script>
        <script type="text/javascript">
            //on select change, you navigate to indexAction and send the parameter maxItemPerPage
            $('#maxItemPerPage').change(function () {
                var url = '{{ path('equipos_pendientesATaller',{'maxItemPerPage':'_itemNum'}) }}';
                var item = $('#maxItemPerPage').find(":selected").text();
                window.location.href = url.replace('_itemNum', item);
            })
        </script>

        <script>
            var botonCambiar=document.getElementById("salvar");
            var  fecha='';
         //   var  fecha=document.getElementById("fechaSl").value;
            var idE=document.getElementById("idEquipo").value;
            var modal=$("#cartel");


            $(document).ready(function () {
                // you may need to change this code if you are not using Bootstrap Datepicker
                $('.js-datepicker').datepicker({
                    format: 'dd/MM/yyyy'
                });

                $(document).ready(function () {
                    // you may need to change this code if you are not using Bootstrap Datepicker
                    $('.js-datepicker').datepicker({
                        format: 'dd/MM/yyyy'
                    });
                    $('#fechaSl').change(function () {
                        fecha=$('#fechaSl').val();
                        console.log(fecha);
                    });
                });
            });

            botonCambiar.addEventListener("click", cambiaEstadoEquipo);

         //console.log(botonCambiar);
            function cambiaEstadoEquipo(e) {
                e.preventDefault();
                console.log(fecha);
                $.ajax({
                url: "{{ path('cambiarfechaTaller') }}",
                type: "GET",
                //dataType: "JSON",
                data: {
                fechaS: fecha, idEquipo:idE
                },
                success:function (){
                   // modal.modal('toggle');
                location.reload();
                }
                    //Cerrar el modal y refrescar la pagina es lo unico que falta

               //     console.log("exito")
                ,
                error: function (err) {
                console.log("An error ocurred while loading data ...");
                }
                });
            }
        </script>
    {% endblock %}

{% endblock %}