<html xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:x="urn:schemas-microsoft-com:office:excel"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=ProgId content=Excel.Sheet>
    <meta name=Generator content="Microsoft Excel 14">
    <link rel=File-List href="xx_archivos/filelist.xml">
    <style id="Libro1_12611_Styles">
        <!--table
        {mso-displayed-decimal-separator:"\,";
            mso-displayed-thousand-separator:"\.";}
        .font512611
        {color:black;
            font-size:18.0pt;
            font-weight:400;
            font-style:normal;
            text-decoration:underline;
            text-underline-style:single;
            font-family:Calibri, sans-serif;
            mso-font-charset:0;}
        .xl1512611
        {padding-top:1px;
            padding-right:1px;
            padding-left:1px;
            mso-ignore:padding;
            color:black;
            font-size:11.0pt;
            font-weight:400;
            font-style:normal;
            text-decoration:none;
            font-family:Calibri, sans-serif;
            mso-font-charset:0;
            mso-number-format:General;
            text-align:general;
            vertical-align:bottom;
            mso-background-source:auto;
            mso-pattern:auto;
            white-space:nowrap;}
        .xl6512611
        {padding-top:1px;
            padding-right:1px;
            padding-left:1px;
            mso-ignore:padding;
            color:black;
            font-size:11.0pt;
            font-weight:400;
            font-style:normal;
            text-decoration:none;
            font-family:Calibri, sans-serif;
            mso-font-charset:0;
            mso-number-format:General;
            text-align:left;
            vertical-align:bottom;
            mso-background-source:auto;
            mso-pattern:auto;
            white-space:nowrap;}
        .xl6612611
        {padding-top:1px;
            padding-right:1px;
            padding-left:1px;
            mso-ignore:padding;
            color:black;
            font-size:12.0pt;
            font-weight:400;
            font-style:normal;
            text-decoration:none;
            font-family:Calibri, sans-serif;
            mso-font-charset:0;
            mso-number-format:General;
            text-align:center;
            vertical-align:bottom;
            mso-background-source:auto;
            mso-pattern:auto;
            white-space:nowrap;}
        .xl6712611
        {padding-top:1px;
            padding-right:1px;
            padding-left:1px;
            mso-ignore:padding;
            color:black;
            font-size:12.0pt;
            font-weight:700;
            font-style:normal;
            text-decoration:none;
            font-family:Calibri, sans-serif;
            mso-font-charset:0;
            mso-number-format:General;
            text-align:center;
            vertical-align:bottom;
            mso-background-source:auto;
            mso-pattern:auto;
            white-space:nowrap;}
        .xl6812611
        {padding-top:1px;
            padding-right:1px;
            padding-left:1px;
            mso-ignore:padding;
            color:black;
            font-size:11.0pt;
            font-weight:700;
            font-style:normal;
            text-decoration:none;
            font-family:Calibri, sans-serif;
            mso-font-charset:0;
            mso-number-format:General;
            text-align:center;
            vertical-align:bottom;
            mso-background-source:auto;
            mso-pattern:auto;
            white-space:nowrap;}
        .xl6912611
        {padding-top:1px;
            padding-right:1px;
            padding-left:1px;
            mso-ignore:padding;
            color:black;
            font-size:11.0pt;
            font-weight:700;
            font-style:normal;
            text-decoration:none;
            font-family:Calibri, sans-serif;
            mso-font-charset:0;
            mso-number-format:General;
            text-align:left;
            vertical-align:bottom;
            mso-background-source:auto;
            mso-pattern:auto;
            white-space:nowrap;}
        -->
    </style>
</head>

<body>
<!--[if !excel]>&nbsp;&nbsp;<![endif]-->
<!--La siguiente información se generó mediante el Asistente para publicar como
página web de Microsoft Excel.-->
<!--Si se vuelve a publicar el mismo elemento desde Excel, se reemplazará toda
la información comprendida entre las etiquetas DIV.-->
<!----------------------------->
<!--INICIO DE LOS RESULTADOS DEL ASISTENTE PARA PUBLICAR COMO PÁGINA WEB DE
EXCEL -->
<!----------------------------->

<div id="Libro1_12611" align=center x:publishsource="Excel">

    <table border=0 cellpadding=0 cellspacing=0 width=800 style='border-collapse:
 collapse;table-layout:fixed;width:600pt'>
        <col width=80 span=10 style='width:60pt'>
        <tr height=21 style='height:15.75pt'>

            {#<td colspan=10 height=21 class=xl6812611 width=800 style='height:15.75pt;#}
  {#width:600pt'>CLINICA INTERNACIONAL DE RETINOSIS PIGMENTARIA &quot;CAMILO#}
                {#CIENFUEGOS"</td>#}
            <div class="row">
                {#<img src="{{ 'http://pro.local/images/brand/logo2.png' }}" alt="logo de la clinica" />#}
                <img src="{{ 'https://reportes.cicc.cu/img/iconos/logoreportes.png' }}" alt="logo de la clinica" />
                {#<img src="{{ 'https://sigh.camilo.sld.cu/images/logo.png' }}" alt="logo de la clinica" />#}
            </div>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=10 height=20 class=xl6712611 style='height:15.0pt'></td>
        </tr>
        <tr height=20 style='height:15.0pt'>

            <td colspan=10 height=20 class=xl6712611 style='height:15.0pt'>PLANTILLA DE
                CONTROL DE ACTIVOS FIJOS TANGIBLES</td>
        </tr>

        <tr height=20 style='height:40.0pt'>
            <td colspan=10 height=20 class=xl6912611 style='height:15.0pt'>Descripción de
                activo fijo tangible: {% if reporte.asesorio=='cpuchasis'  %}  Chasis {% else %}{{ reporte.asesorio|capitalize }} {% if equipo.modelo is defined %}{{equipo.modelo }}{% endif %}{% endif %}</td>
        </tr>
        <tr height=20 style='height:30.0pt'>
            <td colspan=3 height=20 class=xl6512611 style='height:15.0pt'>Area o
                Departamento:{{ reporte.dpto }}{{ area }}{{ codigoArea }}</td>
            <td colspan=3 class=xl6612611></td>
            <td colspan=2 class=xl6612611>Descripción:{{ reporte.respuesta }}</td>
            <td colspan=3 class=xl6612611></td>
        </tr>
        <tr height=20 style='height:20.0pt'>
            <td colspan=3 height=20 class=xl6512611 style='height:15.0pt'>Marca:{% if equipo.marca is defined %}{{ equipo.marca }}{% endif %}</td>
            <td colspan=3 class=xl6612611></td>
            <td colspan=2 class=xl6612611>Modelo:{% if equipo.modelo is defined %} {{ equipo.modelo }}{% endif %}</td>
            <td colspan=3 class=xl6612611></td>
        </tr>
        <tr height=20 style='height:20.0pt'>
            <td colspan=3 height=20 class=xl6512611 style='height:15.0pt'>Inventario:{% if equipo.numInventario is defined %}{{ equipo.numInventario }}
            {% else %}
                Sin inventario
              {% endif %}
            </td>
            <td colspan=3 class=xl6612611></td>
            <td colspan=2 class=xl6612611>Serie:{% if equipo.serie is defined %}{{ equipo.serie }}{% endif %}</td>
            <td colspan=3 class=xl6612611></td>
        </tr>

      {% if reporte.estado== 'Solucionado' or reporte.estado== 'Reparado' %}
        <tr height=20 style='height:22.0pt'>
        <td colspan=2 height=20 class=xl6512611 style='height:22.0pt'>CONCEPTO</td>

        <td colspan=3 class=xl6512611>Entrada :<input type="checkbox" name="entrada" checked disabled> <span
            style='mso-spacerun:yes'>  </span></td>
        <td colspan=2 class=xl6612611>Salida:<input type="checkbox" name="salida"  disabled> </td>
      {% else %}
        <td colspan=3 class=xl6512611>Entrada :<input type="checkbox" name="entrada"  disabled> <span
            style='mso-spacerun:yes'>  </span></td>
        <td colspan=2 class=xl6612611>Salida:<input type="checkbox" name="salida" checked disabled> </td>

        <td colspan=3 class=xl6612611></td>
        </tr>
      {% endif %}


      <tr height=20 style='height:20.0pt'>
            <td colspan=2 height=20 class=xl6512611 style='height:15.0pt'>Fecha</td>
            <td colspan=3 class=xl6512611>{{ "now"|date("d-m-Y") }}<span
                  style='mso-spacerun:yes'>  </span></td>
            <td colspan=2 class=xl6612611>Hora: {{ "now"|date('h:i:s') }}</td>
      </tr>

        <tr height=20 style='height:15.0pt'>
            <td colspan=10 height=20 class=xl6612611 style='height:15.0pt'></td>
        </tr>
        <tr height=20 style='height:30.0pt'>
            <td colspan=10 height=20 class=xl6912611 style='height:15.0pt'>Lugar de
                Destino o Procedencia:</td>
        </tr>
        <tr height=20 style='height:25.0pt'>
            <td colspan=2 height=20 class=xl6512611 style='height:18.0pt'>Reparación: <strong><input type="checkbox" name="entrada" checked disabled></strong></td>
            <td class=xl1512611></td>
            <td colspan=2 class=xl6512611>Taller: Taller TECUN</td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=2 height=20 class=xl6512611 style='height:18.0pt'>Préstamo:</td>
            <td class=xl1512611></td>
            <td colspan=2 class=xl6512611>Destino:Calle 42 #1103 e/ 7ma y 38 Miramar Playa.</td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=2 height=20 class=xl6512611 style='height:18.0pt'>Otros:</td>
            <td class=xl1512611></td>
            <td colspan=2 class=xl6512611>Destino:</td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=10 height=20 class=xl6612611 style='height:15.0pt'></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=10 height=20 class=xl6912611 style='height:30.0pt'>Observaciones</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=10 height=20 class=xl6712611 style='height:15.0pt'>EQUIPO REPORTE {{ reporte.id }}</td>
        </tr>
        <tr height=20 style='height:20.0pt'>
            <td colspan=4 height=20 class=xl6512611 style='height:15.0pt'>Portador del
                equipo: Elio Mendoza</td>
            <td colspan=4 class=xl6612611></td>
            <td colspan=3 class=xl6612611>Firma:___________________________</td>
        </tr>
        <tr height=20 style='height:18.0pt'>
            <td colspan=3 height=20 class=xl6512611 style='height:18.0pt'>CI: 53013003527</td>
            <td colspan=4 class=xl6612611></td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
            <td class=xl1512611></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=7 height=20 class=xl6512611 style='height:18.0pt'>Técnico informático que entrega:<u></u> {{ app.user }}</td>
            <td colspan=1 class=xl6612611></td>
            <td colspan=3 class=xl6612611>Firma:___________________________</td>
        </tr>
        {#<tr height=20 style='height:15.0pt'>#}
            {#<td colspan=7 height=20 class=xl6512611 style='height:15.0pt'>Vicedirector#}
                {#Responsible del medio:___________________________________________</td>#}
            {#<td colspan=3 class=xl6612611>Firma:___________________________</td>#}
        {#</tr>#}
        <tr height=20 style='height:25.0pt'>
            <td colspan=8 height=20 class=xl6512611 style='height:18.0pt'>Agente de
                Seguridad:_______________________________________________________</td>
            <td colspan=3 class=xl6612611>Firma:___________________________</td>
        </tr>
        {#<tr height=20 style='height:15.0pt'>#}
            {#<td colspan=7 height=20 class=xl6512611 style='height:15.0pt'>Director del#}
                {#Centro: <font class="font512611">Lázaro Pérez</font></td>#}
            {#<td colspan=3 class=xl6612611>Firma:___________________________</td>#}
        {#</tr>#}
        <tr height=20 style='height:18.0pt'>
            <td colspan=10 height=20 class=xl6612611 style='height:18.0pt'></td>
        </tr>
        {#<tr height=20 style='height:15.0pt'>#}
            {#<td colspan=10 height=20 class=xl6912611 style='height:15.0pt'>Registrado#}
                {#responsable del AFT:<u>YANSSIEL DE LA CARIDAD PONCIANO ESNART</u></td>#}
        {#</tr>#}
        {#<tr height=20 style='height:15.0pt'>#}
            {#<td colspan=7 height=20 class=xl6512611 style='height:15.0pt'>Nombre:____________________________________________________</td>#}
            {#<td colspan=3 class=xl6612611>Firma:___________________________</td>#}
        {#</tr>#}
        {#<tr height=20 style='height:15.0pt'>#}
            {#<td colspan=7 height=20 class=xl6512611 style='height:15.0pt'>Fecha:________________________________________</td>#}
            {#<td colspan=3 class=xl6612611>Folio:___________________________</td>#}
        {#</tr>#}
        {#<tr height=20 style='height:15.0pt'>#}
            {#<td colspan=10 height=20 class=xl6612611 style='height:15.0pt'></td>#}
        {#</tr>#}
        <![if supportMisalignedColumns]>
        <tr height=0 style='display:none'>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
        </tr>
        <![endif]>
    </table>

</div>


<!----------------------------->
<!--FINAL DE LOS RESULTADOS DEL ASISTENTE PARA PUBLICAR COMO PÁGINA WEB DE
EXCEL-->
<!----------------------------->
</body>

</html>

