
{% if editar == 'no' %}
    <div id="ent_div2" class="tab-content componente" data-prototype="{{ form_widget(componentesForm.componente.vars.prototype)|e('html_attr')  }}">
        {% for ent in componentesForm.componente %}
            {% set indice = loop.index-1 %}
            <div class="well text-info form-horizontal componente">
                <div id="app_bundleequipo_fom_type_componente_{{ indice }}" class="container-fluid">
                    <div class="form-group row">
                        <div id="columna15_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            <label>Tipo de Componente</label>
                            {{ form_errors(ent.tipoComponente) }}{{ form_widget(ent.tipoComponente) }}
                            <div class="hidden">{{ form_label(ent.tipoComponente) }}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            <label>Modelo</label>
                            {{ form_errors(ent.modelo) }}{{ form_widget(ent.modelo) }}
                            <div class="hidden">{{ form_label(ent.modelo) }}</div>
                        </div>
                        <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            <label>Serie</label>
                            {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                        </div>
                        <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            <label>Marca</label>
                            {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                        </div>
                        <div id="columna4_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            {{ form_errors(ent.watts) }}{{ form_label(ent.watts) }}{{ form_widget(ent.watts) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div id="columna5_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            {{ form_errors(ent.sata) }}{{ form_label(ent.sata) }}{{ form_widget(ent.sata) }}
                        </div>
                        <div id="columna6_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            {{ form_errors(ent.capacidad) }}{{ form_label(ent.capacidad) }}{{ form_widget(ent.capacidad) }}
                        </div>
                        <div id="columna7_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            {{ form_errors(ent.velocidad) }}{{ form_label(ent.velocidad) }}{{ form_widget(ent.velocidad) }}
                        </div>
                        <div id="columna8_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            {{ form_errors(ent.lga) }}{{ form_label(ent.lga) }}{{ form_widget(ent.lga) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div id="columna9_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            {{ form_errors(ent.ram) }}{{ form_label(ent.ram) }}{{ form_widget(ent.ram) }}
                        </div>

                        <div id="columna11_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            {{ form_errors(ent.optico) }}{{ form_label(ent.optico) }}{{ form_widget(ent.optico) }}
                        </div>
                        <div id="columna12_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            {{ form_errors(ent.conector) }}{{ form_label(ent.conector) }}{{ form_widget(ent.conector) }}
                        </div>
                        <div id="columna13_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                            {{ form_errors(ent.tipo) }}{{ form_label(ent.tipo) }}{{ form_widget(ent.tipo) }}
                        </div>

                    </div>
                </div>
            </div>
            <BR/>
        {% endfor %}
    </div>
{% else %}
    {#{{ dump(chasisform.children.componente.vars.prototype) }}#}
<div id="ent_div2" class="tab-content componente" data-prototype="{{ form_widget(componentesForm.componente.vars.prototype)|e('html_attr') }} " data-index="{{ componentesForm.componente|length }}">
    {% for ent in componentesForm.componente %}
        {% set indice = loop.index-1 %}
        <div class="well text-info form-horizontal componente" id="componente_{{ indice }}">
            <div id="app_bundleequipo_fom_type_componente_{{ indice }}" class="container-fluid">
                <div class="form-group row">
                    {% if ent.vars.value.tipoComponente =='bocina' %}
                    <div class="form-group row" style="padding-left: 5%;padding-top: 3%">
                        Tipo de componente: {{ ent.vars.value.tipoComponente }}
                        {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                    </div>
                    <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}
                    </div>
                    <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                    </div>
                    <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div id="delete_{{ indice }}" style="float: right">
                        <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                           onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                    </div>
                    {% elseif ent.vars.value.tipoComponente =='fuente' %}
                    <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">
                        Tipo de componente: {{ ent.vars.value.tipoComponente }}
                        {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                    </div>
                    <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                    </div>
                    <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                    </div>
                    <div id="columna4_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.watts) }}{{ form_label(ent.watts) }}{{ form_widget(ent.watts) }}
                    </div>
                    <div id="columna5_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.sata) }}{{ form_label(ent.sata) }}{{ form_widget(ent.sata) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div id="delete_{{ indice }}" style="float: right">
                        <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                           onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                    </div>
                    {% elseif ent.vars.value.tipoComponente =='hdd' %}
                    <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">
                        Tipo de componente: {{ ent.vars.value.tipoComponente }}
                        {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                    </div>
                    <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                    </div>
                    <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                    </div>

                    <div id="columna5_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.sata) }}{{ form_label(ent.sata) }}{{ form_widget(ent.sata) }}
                    </div>
                    <div id="columna6_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.capacidad) }}{{ form_label(ent.capacidad) }}{{ form_widget(ent.capacidad) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div id="delete_{{ indice }}" style="float: right">
                        <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                           onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                    </div>
                    {% elseif ent.vars.value.tipoComponente =='lector' %}
                    <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">

                        Tipo de componente:  {{ ent.vars.value.tipoComponente }}
                        {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}

                    </div>
                    <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                    </div>
                    <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                    </div>
                    <div id="columna13_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.tipo) }}{{ form_label(ent.tipo) }}{{ form_widget(ent.tipo) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div id="delete_{{ indice }}" style="float: right">
                        <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                           onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                    </div>
                    {% elseif ent.vars.value.tipoComponente =='microprocesador' %}
                    <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">
                        Tipo de componente: {{ ent.vars.value.tipoComponente }}
                        {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                        {{ form_widget(ent.modelo, { 'attr':{'hidden' : 'true'}}) }}

                        {#{% set ent.vars.value.modelo='no definido' %}#}
                    </div>
                    <div id="columna13_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.tipo) }}{{ form_label(ent.tipo) }}{{ form_widget(ent.tipo) }}
                    </div>
                    <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                    </div>
                    <div id="columna7_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.velocidad) }}{{ form_label(ent.velocidad) }}{{ form_widget(ent.velocidad) }}
                    </div>
                    <div id="columna8_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.lga) }}{{ form_label(ent.lga) }}{{ form_widget(ent.lga) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div id="delete_{{ indice }}" style="float: right">
                        <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                           onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                    </div>
                    {% elseif lista_componentes[indice].tipoComponente =='motherboard' %}
                    <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">
                        Tipo de componente: {{ ent.vars.value.tipoComponente }}
                        {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                    </div>
                    <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}
                    </div>
                    <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                    </div>
                    <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                    </div>
                    <div id="columna8_{{ indice }}" class="col-md-3" style="padding-left: 5%;padding-top: 3%;">
                        {{ form_errors(ent.lga) }}{{ form_label(ent.lga) }}{{ form_widget(ent.lga) }}
                    </div>
                    <div id="columna9_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.ram) }}{{ form_label(ent.ram) }}{{ form_widget(ent.ram) }}
                    </div>

                </div>
                <div class="form-group row">
                    <div id="delete_{{ indice }}" style="float: right">
                        <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                           onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                    </div>
                    {% elseif lista_componentes[indice].tipoComponente =='mouse' %}
                    <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">
                        Tipo de componente: {{ ent.vars.value.tipoComponente }}
                        {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                    </div>
                    <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}
                    </div>
                    <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                    </div>
                    <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                    </div>
                    <div id="columna11_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.optico) }}{{ form_label(ent.optico) }}{{ form_widget(ent.optico) }}
                    </div>
                    <div id="columna12_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.conector) }}{{ form_label(ent.conector) }}{{ form_widget(ent.conector) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div id="delete_{{ indice }}" style="float: right">
                        <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                           onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                    </div>
                    {% elseif lista_componentes[indice].tipoComponente =='ram' %}
                    <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">
                        Tipo de componente: {{ ent.vars.value.tipoComponente }}
                        {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                    </div>
                    <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                    </div>
                    <div id="columna6_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.capacidad) }}{{ form_label(ent.capacidad) }}{{ form_widget(ent.capacidad) }}
                    </div>
                    <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                        {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div id="delete_{{ indice }}" style="float: right">
                        <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                           onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                    </div>
                </div>
                {% elseif lista_componentes[indice].tipoComponente =='tarjeta_video' %}
                <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">
                    Tipo de componente: {{ ent.vars.value.tipoComponente }}
                    {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                </div>
                <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                </div>
                <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                </div>
                <div id="columna7_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.velocidad) }}{{ form_label(ent.velocidad) }}{{ form_widget(ent.velocidad) }}
                </div>


            </div>
            <div class="form-group row">
                <div id="delete_{{ indice }}" style="float: right">
                    <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                       onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                </div>
                {% elseif lista_componentes[indice].tipoComponente =='teclado' %}
                <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">
                    Tipo de componente: {{ ent.vars.value.tipoComponente }}
                    {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}
                </div>
                <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}
                </div>
                <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}
                </div>
                <div id="columna12_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.conector) }}{{ form_label(ent.conector) }}{{ form_widget(ent.conector) }}
                </div>
                <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">
                    {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}
                </div>

            </div>
            <div class="form-group row">
                <div id="delete_{{ indice }}" style="float: right">
                    <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"
                       onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                </div>
            </div>

            {% endif %}
        </div>
        </div>
        <BR/>
        <input style="display: none;" id="contador" cant= {{ componentesForm.componente| length }}>
    {% endfor %}
    </div>
{% endif %}
{#{% if editar == 'no' %}#}
{#  <div id="ent_div2" class="tab-content componente" data-prototype="{{ form_widget(chasisform.componente.vars.prototype)|e }}">#}
{#    {% for ent in chasisform.componente %}#}
{#      {% set indice = loop.index-1 %}#}
{#      <div class="well text-info form-horizontal componente">#}
{#        <div id="app_bundleequipo_fom_type_componente_{{ indice }}" class="container-fluid">#}
{#          <div class="form-group row">#}
{#            <div id="columna15_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              <label>Tipo de Componente</label>#}
{#                {{ form_errors(ent.tipoComponente) }}{{ form_widget(ent.tipoComponente) }}#}
{#              <div class="hidden">{{ form_label(ent.tipoComponente) }}</div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group row">#}
{#            <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              <label>Modelo</label>#}
{#              {{ form_errors(ent.modelo) }}{{ form_widget(ent.modelo) }}#}
{#              <div class="hidden">{{ form_label(ent.modelo) }}</div>#}
{#            </div>#}
{#            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              <label>Serie</label>#}
{#              {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}#}
{#            </div>#}
{#            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              <label>Marca</label>#}
{#              {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}#}
{#            </div>#}
{#            <div id="columna4_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.watts) }}{{ form_label(ent.watts) }}{{ form_widget(ent.watts) }}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group row">#}
{#            <div id="columna5_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.sata) }}{{ form_label(ent.sata) }}{{ form_widget(ent.sata) }}#}
{#            </div>#}
{#            <div id="columna6_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.capacidad) }}{{ form_label(ent.capacidad) }}{{ form_widget(ent.capacidad) }}#}
{#            </div>#}
{#            <div id="columna7_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.velocidad) }}{{ form_label(ent.velocidad) }}{{ form_widget(ent.velocidad) }}#}
{#            </div>#}
{#            <div id="columna8_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.lga) }}{{ form_label(ent.lga) }}{{ form_widget(ent.lga) }}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group row">#}
{#            <div id="columna9_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.ram) }}{{ form_label(ent.ram) }}{{ form_widget(ent.ram) }}#}
{#            </div>#}

{#            <div id="columna11_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.optico) }}{{ form_label(ent.optico) }}{{ form_widget(ent.optico) }}#}
{#            </div>#}
{#            <div id="columna12_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.conector) }}{{ form_label(ent.conector) }}{{ form_widget(ent.conector) }}#}
{#            </div>#}
{#            <div id="columna13_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.tipo) }}{{ form_label(ent.tipo) }}{{ form_widget(ent.tipo) }}#}
{#            </div>#}

{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <BR/>#}
{#    {% endfor %}#}
{#  </div>#}
{#{% else %}#}
{#{{ dump(chasisform.children.componente.vars.prototype) }}#}
{#<div id="ent_div2" class="tab-content componente" data-prototype="{{ form_widget(chasisform.children.componente.vars.prototype)|e('html_attr') }} " data-index="{{ chasisform.children.componente|length }}">#}
{#  {% for ent in chasisform.componente %}#}
{#    {% set indice = loop.index-1 %}#}
{#      <div class="well text-info form-horizontal componente" id="componente_{{ indice }}">#}
{#      <div id="app_bundleequipo_fom_type_componente_{{ indice }}" class="container-fluid">#}
{#        <div class="form-group row">#}
{#          {% if ent.vars.value.tipoComponente =='bocina' %}#}
{#            <div class="form-group row" style="padding-left: 5%;padding-top: 3%">#}
{#             Tipo de componente: {{ ent.vars.value.tipoComponente }}#}
{#              {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}#}
{#            </div>#}
{#            <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}#}
{#            </div>#}
{#            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}#}
{#            </div>#}
{#            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#          <div id="delete_{{ indice }}" style="float: right">#}
{#            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"#}
{#               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>#}
{#          </div>#}
{#          {% elseif ent.vars.value.tipoComponente =='fuente' %}#}
{#            <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">#}
{#              Tipo de componente: {{ ent.vars.value.tipoComponente }}#}
{#              {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}#}
{#            </div>#}
{#            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}#}
{#            </div>#}
{#            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}#}
{#            </div>#}
{#            <div id="columna4_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.watts) }}{{ form_label(ent.watts) }}{{ form_widget(ent.watts) }}#}
{#            </div>#}
{#            <div id="columna5_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.sata) }}{{ form_label(ent.sata) }}{{ form_widget(ent.sata) }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#          <div id="delete_{{ indice }}" style="float: right">#}
{#            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"#}
{#               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>#}
{#          </div>#}
{#          {% elseif ent.vars.value.tipoComponente =='hdd' %}#}
{#            <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">#}
{#              Tipo de componente: {{ ent.vars.value.tipoComponente }}#}
{#              {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}#}
{#            </div>#}
{#            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}#}
{#            </div>#}
{#            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}#}
{#            </div>#}

{#            <div id="columna5_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.sata) }}{{ form_label(ent.sata) }}{{ form_widget(ent.sata) }}#}
{#            </div>#}
{#            <div id="columna6_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.capacidad) }}{{ form_label(ent.capacidad) }}{{ form_widget(ent.capacidad) }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#          <div id="delete_{{ indice }}" style="float: right">#}
{#            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"#}
{#               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>#}
{#          </div>#}
{#          {% elseif ent.vars.value.tipoComponente =='lector' %}#}
{#            <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">#}

{#              Tipo de componente:  {{ ent.vars.value.tipoComponente }}#}
{#              {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}#}

{#            </div>#}
{#            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}#}
{#            </div>#}
{#            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}#}
{#            </div>#}
{#            <div id="columna13_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.tipo) }}{{ form_label(ent.tipo) }}{{ form_widget(ent.tipo) }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#          <div id="delete_{{ indice }}" style="float: right">#}
{#            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"#}
{#               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>#}
{#          </div>#}
{#          {% elseif ent.vars.value.tipoComponente =='microprocesador' %}#}
{#            <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">#}
{#              Tipo de componente: {{ ent.vars.value.tipoComponente }}#}
{#              {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}#}
{#              {{ form_widget(ent.modelo, { 'attr':{'hidden' : 'true'}}) }}#}

{#              #}{#{% set ent.vars.value.modelo='no definido' %}#}
{#            </div>#}
{#            <div id="columna13_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.tipo) }}{{ form_label(ent.tipo) }}{{ form_widget(ent.tipo) }}#}
{#            </div>#}
{#            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}#}
{#            </div>#}
{#            <div id="columna7_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.velocidad) }}{{ form_label(ent.velocidad) }}{{ form_widget(ent.velocidad) }}#}
{#            </div>#}
{#            <div id="columna8_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.lga) }}{{ form_label(ent.lga) }}{{ form_widget(ent.lga) }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#          <div id="delete_{{ indice }}" style="float: right">#}
{#            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"#}
{#               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>#}
{#          </div>#}
{#          {% elseif lista_componentes[indice].tipoComponente =='motherboard' %}#}
{#            <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">#}
{#              Tipo de componente: {{ ent.vars.value.tipoComponente }}#}
{#              {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}#}
{#            </div>#}
{#            <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}#}
{#            </div>#}
{#            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}#}
{#            </div>#}
{#            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}#}
{#            </div>#}
{#            <div id="columna8_{{ indice }}" class="col-md-3" style="padding-left: 5%;padding-top: 3%;">#}
{#              {{ form_errors(ent.lga) }}{{ form_label(ent.lga) }}{{ form_widget(ent.lga) }}#}
{#            </div>#}
{#            <div id="columna9_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.ram) }}{{ form_label(ent.ram) }}{{ form_widget(ent.ram) }}#}
{#            </div>#}

{#        </div>#}
{#        <div class="form-group row">#}
{#          <div id="delete_{{ indice }}" style="float: right">#}
{#            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"#}
{#               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>#}
{#          </div>#}
{#          {% elseif lista_componentes[indice].tipoComponente =='mouse' %}#}
{#            <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">#}
{#              Tipo de componente: {{ ent.vars.value.tipoComponente }}#}
{#              {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}#}
{#            </div>#}
{#            <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}#}
{#            </div>#}
{#            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}#}
{#            </div>#}
{#            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}#}
{#            </div>#}
{#            <div id="columna11_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.optico) }}{{ form_label(ent.optico) }}{{ form_widget(ent.optico) }}#}
{#            </div>#}
{#            <div id="columna12_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.conector) }}{{ form_label(ent.conector) }}{{ form_widget(ent.conector) }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#          <div id="delete_{{ indice }}" style="float: right">#}
{#            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"#}
{#               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>#}
{#          </div>#}
{#          {% elseif lista_componentes[indice].tipoComponente =='ram' %}#}
{#            <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">#}
{#              Tipo de componente: {{ ent.vars.value.tipoComponente }}#}
{#              {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}#}
{#            </div>#}
{#            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}#}
{#            </div>#}
{#            <div id="columna6_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.capacidad) }}{{ form_label(ent.capacidad) }}{{ form_widget(ent.capacidad) }}#}
{#            </div>#}
{#            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#          <div id="delete_{{ indice }}" style="float: right">#}
{#            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"#}
{#               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>#}
{#          </div>#}
{#            </div>#}
{#          {% elseif lista_componentes[indice].tipoComponente =='tarjeta_video' %}#}
{#            <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">#}
{#              Tipo de componente: {{ ent.vars.value.tipoComponente }}#}
{#              {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}#}
{#            </div>#}
{#            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}#}
{#            </div>#}
{#            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}#}
{#            </div>#}
{#            <div id="columna7_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.velocidad) }}{{ form_label(ent.velocidad) }}{{ form_widget(ent.velocidad) }}#}
{#            </div>#}


{#        </div>#}
{#        <div class="form-group row">#}
{#          <div id="delete_{{ indice }}" style="float: right">#}
{#            <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"#}
{#               onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>#}
{#          </div>#}
{#          {% elseif lista_componentes[indice].tipoComponente =='teclado' %}#}
{#            <div class="form-group row" style="padding-left: 5%;padding-top: 3%;">#}
{#              Tipo de componente: {{ ent.vars.value.tipoComponente }}#}
{#              {{ form_widget(ent.tipoComponente, { 'attr':{'hidden' : 'true'}}) }}#}
{#            </div>#}
{#            <div id="columna3_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.marca) }}{{ form_label(ent.marca) }}{{ form_widget(ent.marca) }}#}
{#            </div>#}
{#            <div id="columna2_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.serie) }}{{ form_label(ent.serie) }}{{ form_widget(ent.serie) }}#}
{#            </div>#}
{#            <div id="columna12_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.conector) }}{{ form_label(ent.conector) }}{{ form_widget(ent.conector) }}#}
{#            </div>#}
{#            <div id="columna1_{{ indice }}" class="col-md-3" style="padding-left: 5%;">#}
{#              {{ form_errors(ent.modelo) }}{{ form_label(ent.modelo) }}{{ form_widget(ent.modelo) }}#}
{#            </div>#}

{#        </div>#}
{#            <div class="form-group row">#}
{#              <div id="delete_{{ indice }}" style="float: right">#}
{#                <a style="text-decoration: none;color: #ffffff; float: right" class="btn btn-danger btn-small"#}
{#                   onclick="eliminarForm({{ indice }})"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>#}
{#              </div>#}
{#            </div>#}

{#          {% endif %}#}
{#        </div>#}
{#    </div>#}
{#    <BR/>#}
{#    <input style="display: none;" id="contador" cant= {{ chasisform.children.componente| length }}>#}
{#  {% endfor %}#}
{#</div>#}
{#{% endif %}#}
{% block javascripts %}
    <script type="text/javascript">
        function eliminarForm(posFrom) {
            var div = document.getElementById("componente_" + posFrom);
            div.parentNode.removeChild(div);
        }
    </script>
{% endblock %}