{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="row">
        <img src="{{ 'https://reportes.cicc.cu/img/iconos/logoreportes.png' }}" alt="logo de la clinica" />
    </div>
<br><br><br>
<div class="float-right">{{ date('now') |date('d-m-Y') }}</div>
<h4 align="center">Equipos en area: {{ lista[0].idCosto }}</h4><h4></h4>
<h4>Total General:{{ lista|length }}</h4>
<table style="font-size: 20px;width: auto;alignment: center">
    <thead>
    </thead>
    <tbody>
    <tr>
        <th style="width: 40%">Descripcion</th>
        <th style="width: available">Numero de inventario</th>
        <th style="width: available">Serie</th>
        <th style="width: 30%">Area</th>
        <th style="width: 30%">Dpto<th/>
    </tr>
    {% for l in lista %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ l.descripcion}}</td>
            <td>{{ l.numInventario }}</td>
            <td>{{ l.serie }}</td>
            <td>{{ l.idArea }}</td>
            <td>{{ l.idCosto }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    {#{{ render(controller('AppBundle:activosFijos:imprimirActivos2', { 'lista': pagination.items })) }}#}
    <br><br><br><br>
    <table>
        <tbody><tr>
            <td style="border: 0px solid #000000"><table width="643" cellspacing="0" >
                    <tbody><tr valign="top">
                        <td style=" border-bottom: 1px solid #000000;" width="373">
                            <p align="center"><br>
                            </p>
                        </td>
                        <td style=" border-bottom: 0px solid #000000;" width="37">
                            <p align="center"><br>

                            </p>
                        </td>
                        <td style="border-bottom: 1px solid #000000;" width="207">
                            <p align="center"><br>
                            </p>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" border-bottom: 0px solid #000000;" width="373">
                            <p align="center">Nombre y Apellidos</p>
                        </td>
                        <td style=" border-bottom: 0px solid #000000; " width="37">
                            <p align="center"><br>
                            </p>
                        </td>
                        <td style=" border-bottom: 0px solid #000000;" width="207">
                            <p align="center">Firma</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000;" width="633" valign="top">
                            <p align="center">Jefe Responsable</p>
                        </td>
                    </tr>
                    </tbody></table></td>
            {#<td style="border: 0px solid #000000" width="207">&nbsp;&nbsp;&nbsp;</td>#}
            {#<td style="border: 0px solid #000000" width="207">&nbsp;&nbsp;&nbsp;</td>#}
            <td style="border: 0px solid #000000"><table width="643" cellspacing="0" cellpadding="4">
                    <tbody><tr valign="top">
                        <td style=" border-bottom: 1px solid #000000;" width="373">
                            <p align="center"><br>
                            </p>
                        </td>
                        <td style=" border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: none;" width="37">
                            <p align="center"><br>

                            </p>
                        </td>
                        <td style="border-bottom: 1px solid #000000;" width="207">
                            <p align="center"><br>
                            </p>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" border-bottom: 0px solid #000000;" width="373">
                            <p align="center">Nombre y Apellidos</p>
                        </td>
                        <td style="border-bottom: 0px solid #000000; " width="37">
                            <p align="center"><br>
                            </p>
                        </td>
                        <td style=" border-bottom: 0px solid #000000; " width="207">
                            <p align="center">Firma</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="border-bottom: 0px solid #000000; " width="633" valign="top">
                            <p align="center">Responsable AFT</p>
                        </td>
                    </tr>
                    </tbody></table></td>
        </tr>
        </tbody></table>
<br>
<br>
{% endblock %}

